<%=form_for @custom_product do |f| %>
<%= render 'spree/shared/error_messages', :target => f.object %>
<div class="help-me-fields">
	<table class="tea_builder_divider" cellpadding="10" width="910px">
		<tbody>
			<tr>
				<td style="width:100%;">
					<%= radio_button_tag 'helpme', 'help', true %>
					<%= label_tag 'helpme_help', "Help me blend my teas (we'll make sure you don't mix teas that aren't compatible)." %>
					<br />
					<%= radio_button_tag 'helpme', 'nohelp' %>
					<%= label_tag 'helpme_nohelp', 'I wanna go wild!' %>
				</td>
			</tr>
			<tr>
				<td> &nbsp; </td>
			</tr>
		</tbody>
	</table>
</div>
<div class="tea_cups_div">
	<table class="tea_builder_divider" cellpadding="10">
		<tbody>
			<tr>
				<td style="width:25%;">You can choose up to three flavors for your blend.  Click on the ones you want to add.</td>
				<td style="width:15%;" class="tea-cup-list" id="black_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="fruit_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="herbal_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="green_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="white_tea_cups"></td>
			</tr>
			<tr>
				<td colspan="6"> &nbsp; </td>
			</tr>
		</tbody>
	</table>
</div>

<div class="tea_cups_div" >
	<table class="tea_builder_divider" cellpadding="10" style="min-height: 235px; ">
		<tbody>
			<tr>
				<td style="width:20%;">Your unique blend will taste like this.</td>
				<td style="width:15%;"> <% flavor_count = 0 %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("percent") == nil
				flavor_count += 1
				cid = "flavor" + flavor_count.to_s()
				%>
				<div id="<%= p.object.property_name %>div">
					Select Above
				</div> 
				<%= p.hidden_field :value, :id => cid %>
				<%= p.hidden_field :property_name  %>
				<%
				end
				%>
				<% end %> </td>
				<td style="width:20%;"><div id="slider1"></div><div id="slider2"></div><div id="slider3"></div></td>
				<td style="width:10%;"> <% percent_count = 0 %>
				<%= f.fields_for :product_properties do |p| %>
				<%
				if p.object.property_name.index("percent") != nil
				cclass = "percentInput"
				percent_count += 1
				cid = "percent" + percent_count.to_s()
				disabled = percent_count == 3 ? true : false;
				%>
				<div id="<%= p.object.property_name %>div">
					0%
				</div> 
				<%= p.hidden_field :value, :style => "width:45px", :id => cid, :readonly => disabled %>
				<%= p.hidden_field :property_name %>
				<%
				end
				%>
				<% end %> </td>
				<td style="width:35%;" class="tea-cup-list" id="flavor_profile_row"></td>
			</tr>
			<tr>
				<td colspan="5"> &nbsp; </td>
			</tr>
		</tbody>
	</table>
</div>

<div class="name_fields">
	<table style="width: 910px;">
		<tbody>
			<tr>
				<td style="width:250px; text-align: right;">
					<%= f.label :name %>
				</td>
				<td style="width:400px;">
					<%= f.text_field :name %>
				</td>
				<td style="width:260px;" rowspan="4">
					<div class="image_fields">
						<div class="tea-tin">
							<img src="./assets/TeaTin.png"/>
						</div>
						<div class="tea-tin-image">
							<img src="./assets/CustomTeaLabel.png" width="82px" height="187px"/>
						</div>
						<div class="tea-tin-image-fade">
							<img src="./assets/TeaTinLabelFade.png"/>
						</div>
						<div class="tea-tag">
							<img src="./assets/Teabag-and-Teatag.png"/>
						</div>
						<div class="tea-tag-image">
							<img id="tea-tag-image" src="./assets/TeaTagLabel.png" width="50px" height="42px"/>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="text-align: right;">
					<%= f.label :description %>
				</td>
				<td>
					<%= f.text_area :description, :style => "width: 300px;" %>
				</td>
			</tr>
			<tr>
				<td style="text-align: right;"></td>
				<td><%= f.submit "Save My Blend"%></td>
			</tr>
		</tbody>
	</table>
		
	</div>
</div>
<% end %>
