<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
	<!--<![endif]-->
	<head data-hook="inside_head">
		<%= render :partial => 'spree/shared/head' %>
	</head>
	<body>
		<div data-role="page">
			<div data-role="header" data-theme="b">
				<%= render :partial => 'spree/shared/header_clean' %>
				<%= render :partial => 'spree/shared/main_nav_bar' %>
			</div>
			<div class="container" data-role="content">
				<%= yield %>
			</div>
		</div>
		<%= render :partial => 'spree/shared/google_analytics' %>
	</body>
</html>