<div class="row name_fields">
	<div class="span15">
		<% if @edit_blend == nil || @edit_blend == false %> <img src="/assets/store/icons/3.png" width="24" height="24" >&nbsp;
		<% end %>Name and describe your unique blend.
	</div>
	<% if @product.id != nil then %>
	<div class="span12 offset3">
		<div class="control-group">
			<%= f.label "Artwork", :class=> "control-label" %>
			<div class="controls">
				<%= render :partial => 'file_form', :locals => { :f => f } %>
			</div>
		</div>
	</div>
	<% end %>
	<div class="span12 offset3">
		<div class="control-group">
			<%= f.label :name, :class=> "control-label" %>
			<div class="controls">
				<%= f.text_field :name, :maxlength => 25 %>
			</div>
		</div>
	</div>

	<div class="span12 offset3">
		<span style="font-size:13px;"><%= t(:description_lenght)%></span>
		<div class="control-group">
			<%= f.label :description, :class=> "control-label" %>
			<div class="controls">
				<%= f.text_area :description, :maxlength => 240, :style => "width: 300px;" %>
				<%= render :partial => 'tea_tin_script' %>
			</div>
		</div>
	</div>
	<div class="span12 offset3">
		<div class="control-group">
			<%= f.label :options, :class=> "control-label" %>
			<div class="controls">
				<%= radio_button "product", "public", "false" %> <%= t(:make_private)%>
				<br />
				<%= radio_button "product", "public", "true" %> <%= t(:make_public)%>
			</div>
		</div>
	</div>

	<div class="span6 offset5">
		<% if @product.final == false && @edit_blend %>
		<%= f.submit t(:save_draft_blend) %> <span style="margin-left: 10px;"><%= button_tag t(:finalize), :onclick => "submit_final()" %></span> <%= f.hidden_field :final %>
		<script type="text/javascript">
						function submit_final() {
			document.getElementById("product_final").value = true;
			document.forms['edit_product_' + <%= @product.id %>].submit();
				}
		</script> <% elsif @edit_blend %>
		<%= f.submit t(:save_blend) %>
		<% else %>
		<%= f.submit t(:continue) %>
		<% end %> <span style="margin-left: 10px;"><%= link_to t(:cancel), spree.myblends_path %></span>
	</div>
</div>
