<% if !@product.properties.empty? %>
<% if @product.master.is_custom? %>
<div class="row">
	<h4>Blend</h4>
	<strong><%= @product.blend.html_safe %></strong>
	<br />
	<% for product_property in @product_properties %>
	<% if product_property.property.name.include? "sku" and !product_property.value.blank? %>
	<div class="span2 align-center">
		<%= blend_img (product_property.value) %>
	</div>
	<% end %>
	<% end %>
</div>
<% else %>
<h4 class="product-section-title"><%= t('properties')%></h4>
<table id="product-properties" class="table-display" data-hook width="100%">
	<tbody>
		<% for product_property in @product_properties
		css_class = cycle('even', 'odd') %>
		<tr class="<%= css_class %>">
			<td><strong><%= product_property.property.presentation %></strong></td>
			<td><%= product_property.value %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<% end %>
