<div style="min-height: 1200px;">
	<%=form_for @product do |f| %>
	<%= render 'spree/shared/error_messages', :target => f.object %>

	<%= render :partial => 'tea_name_percentages', :locals => { :f => f } %>
	<div id="tea_selector_div" style="display:none;">
		<%= render :partial => 'tea_selector', :locals => { :f => f } %>
		<%= render :partial => 'tea_percentages', :locals => { :f => f } %>
		<script src="https://uniqteas.s3.amazonaws.com/javascript/categories.js" type="text/javascript"></script>
		<script src="https://uniqteas.s3.amazonaws.com/javascript/raphael-min.js" type="text/javascript"></script>
		<script src="https://uniqteas.s3.amazonaws.com/javascript/raphael-tea-cups.js" type="text/javascript"></script>
	</div>

	<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>
<script>
	window.onload = setup('<%= @first_flavor %>');
</script>