<div data-hook="admin_image_form_fields">
	<tr data-hook="file">
		<td><%= t(:filename) %>:</td>
		<td><%= f.file_field :attachment %></td>
		<td><%= t(:tin_image_size_instructions)%><br /><%= t(:tag_image_size_instructions)%></td>
	</tr>
	<%= hidden_field_tag :product_id, @product.id %>
</div>