<div data-hook="account_summary" class="account-summary">
	<dl id="user-info">
		<dt>
			<%= t(:email) %>
		</dt>
		<dd>
			<%= @user.email %> (<%= link_to t(:edit), spree.edit_account_path %>)
		</dd>
	</dl>
</div>

<div data-hook="my_products" class="account-summary">
	<h3><%= t(:my_products) %></h3>
	<% if @user.products.any? %>
	<ul id="products" class="inline product-listing" data-hook>
		<% reset_cycle('default') %>
		<% @user.products.each do |product| %>
		<li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>"  style="position:relative" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
			<div class="product-image" id="product_div<%= product.id %>" onmouseover="toggleClass('<%= product.id %>')" onmouseout="toggleClass('<%= product.id %>')">
				<%= link_to small_image(product, :itemprop => "image"), product_url(product), :itemprop => 'url', :title => "Order " + product.name %>
			</div>
			<%= link_to truncate(product.name, :length => 50), product_url(product), :class => 'info', :itemprop => "name", :title => "Order " + product.name %><br />
			<div class="tea-menu-hidden">
				<%= link_to image_tag("/assets/edit.png", :size=>"20x20", :class => "tool"), edit_product_url(product), :style => "display:inline;width:26px;height:26px;", :title => "Edit " + product.name %>
				<%= link_to image_tag("/assets/small-cart.png", :size=>"20x20", :class => "tool"), product_url(product), :style => "display:inline;width:26px;height:26px;", :title => "Order " + product.name %>
			</div>
		</li>
		<% end %>
		<% reset_cycle("classes") %>
	</ul>
	<% end %>
</div>
<style>
	.tea-menu-hidden {
		display: none;
		width: 60px;
		height: 26px;
		vertical-align:middle;
		text-align: center;
	}
	.tea-menu {
		display: inline;
		position:absolute;
		top: 4px;
		right: 4px;
		background-color: #ddd;
		border: 1px solid #aaa;
		vertical-align: middle;
	}
	.sizeUp {
		width: 24px;
		height: 24px;
	}
</style>
<script type="text/javascript">
$("li").hover(
  function () {
  	div = $(this).find("div:last").toggleClass("tea-menu", 300);
  }, 
  function () {
    $(this).find("div:last").toggleClass("tea-menu", 300);
  }
);

$("img.tool").hover(
  function () {
  	$(this).toggleClass("sizeUp", 100);
  }, 
  function () {
    $(this).toggleClass("sizeUp", 100);
  }
);

</script>
