<div data-hook="my_products" class="row">
	<div class="span14"><h3><%= t(:myblends) %></h3></div>
	<div class="span2 margin-top">
		<%= link_to blendit_url, :class => "btn btn-primary " do %>
		<%= content_tag(:i, '', :class => 'icon-plus icon-white') + " " + t(:add_a_blend) %>
		<% end %>
	</div>
	<div class="span16">
		<% if @myblends.any? %>
		<div class="well">
			<ul id="products" class="thumbnails" data-hook>
				<% @myblends.each do |product| %>
				<li id="product_<%= product.id %>" class="thumbnail"  style = "position:relative" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
					<div class="product-image">
						<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
					</div>
					<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => "Order " + product.name %>
					<div class="tea-menu-hidden">
						<%= link_to_edit_url edit_product_url(product), {:no_text => true, :style => "display:inline"} %>
						<%= link_to product, :style => "display:inline;", :title => "Order " + product.name do %>
						<%= content_tag(:i, '', :class => 'icon-shopping-cart') %>
						<% end %>
					</div>
				</li>
				<% end %>
				<% reset_cycle("classes") %>
			</ul>
			<br />
			<%= paginate @myblends %>
		</div>
		<% else %>
		<p style="text-align: center"><%= t(:you_have_no_blends_yet_why_not_create_one_now) %></p>
		<% end %>
	</div>
</div>

<style>
	.tea-menu-hidden {
		display: none;
		width: 156px;
		height: 22px;
		vertical-align: top;
		text-align: right;
	}
	.tea-menu {
		display: inline;
		position: absolute;
		top: 5px;
		right: 5px;
		vertical-align: middle;
	}
</style>
<script type="text/javascript">
	$("li").hover(function() {
		div = $(this).find("div:last");
		div.toggleClass("tea-menu", 200);
	}, function() {
		div = $(this).find("div:last");
		div.toggleClass("tea-menu", 200);
	});

</script>