<div data-role="navbar" data-iconpos="right">
  <ul>
  	<% if current_user %>
   	<li id="account-link" data-hook>
		<a href="#popupAccount" data-rel="popup" data-icon="arrow-d">Account</a>
   	</li>
   	<% else %>
   	<li id="account-link" data-hook><%= link_to t(:login), spree.login_path %></li>   	
   	<% end %>
    <li><%= link_to t(:gallery), spree.products_path %></li>
    <li id="link-to-cart" style="height:20px;" data-hook><%= link_to t(:cart) , spree.cart_path %></li>
  </ul>
</div>

<div data-role="popup" id="popupAccount" data-theme="a">
	<div data-role="controlgroup" style="margin: 0px;">
		<%= link_to t(:account), spree.account_path, "data-role" => "button" %>
		<%= link_to t(:myblends), spree.myblends_path, "data-role" => "button" %>
	</div>
</div>