<nav class="columns alpha omega twelve">
  <ul id="main-nav-bar" class="inline" data-hook>
  	<% if try_spree_current_user %>
    <li><%= link_to t(:myblends), spree.myblends_path %></li>
   	<% else %>
   	<li id="account-link" data-hook><%= link_to t(:login), spree.login_path %></li>
   	<li id="account-link" data-hook><%= link_to t(:create_a_new_account), spree.signup_path %></li>
   	<% end %>
    <li><%= link_to t(:gallery), spree.products_path %></li>
    <li id="link-to-cart" data-hook><%= link_to t(:cart) , spree.cart_path %></li>
  </ul>
  <div><%= t(:we_share_big_hoop) %> <%= link_to t(:here), spree.bighoop_path %>.</div>
</nav>